{{#partial 'content'}}
    <h1 class="glow">WELCOME TO WILDLIFE TRACKER<br>HERE YOU'LL GET TO SEE ALL AVAILABLE SIGHTINGS</h1>

    <div class="row">
    <div class="col-md-8">
        <div class="sight">


            {{#if sightings}}
                {{#each sightings }}

                        <p>Sighting reported by Ranger {{rangerName}} at {{location}}
                            <a href="/animals/{{animalId}}/sightings/{{id}}" class="button btn-warning btn-sm"style="float: right;">SEE MORE</a>

                        </p>
                        <hr>

                {{/each}}
            {{else}}
                <p>No SIGHTINGS REPORTED!!</p>
            {{/if}}
        </div>
    </div>
</div>


{{/partial}}

{{> layout.hbs}}